.header-node {
    .toggle-field {
        margin-bottom: 1.25rem;
    }

    select {
        width: 100%;
        padding: 0.75rem 0.75rem;
        border: 1px solid var(--black-12);
        border-radius: var(--radius-big);
        background: var(--white);
        outline: none;
    }

    small {
        margin: 0.625rem 0rem;
    }

    .tip-card {
        margin-top: 1rem;
    }
}